body {
  min-width: 500px;
  color: #333;
}

.collection-item {
  padding: 5px !important;
}
.collection-item h6 {
  display: inline-block;
  color: #333;
}

.btn {
  margin-top: 5px;
  margin-right: 10px;
  background: #333 !important;
}
